/* * {
    border: 1px solid red;
} */

section {
    margin: 0px;
}

.container-activity-selection{
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
}

/* container-css */
.container-css-50{
    /* border: 2px solid red; */
    box-sizing: border-box;
    padding: 30px 0;
    display: flex;
    flex-direction: column; 
    gap: 30px;

    width: 50%;
    
}

/* track-select */
.activity-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
/* container-list */
.container-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.activity-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;

    
}
/* button */
/* .button-cf{
   align-self: center;
   border: none;
   border-radius: 10px;
   padding: 10px;
   height: 3em;
   color: #ffffff;
   background-color: #72bb52;
} */

/* .button-in-out {
   align-self: center;
   border: none;
   border-radius: 10px;
   padding: 10px;
   height: 3em;
   color: #a9b3bb;
   background-color: #f85f6a;

} */

.bottun-fev{
    align-self: center;
   border: none;
   border-radius: 20px;
   padding: 10px;
   width: 25%;
   height: 100%;
   color: #929292;
   background-color: #d7d7d7;
   text-align: center;

}

.bottun-add{
    border: none;
    align-self:center;
    color: #f85f6a;
    font-size: 30px;   
    background-color: white;
}
   


.act-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.act-card p{
    margin: 1em 0px;
}

.icon{    
    width: 80px;
    height: 80px;
    padding: 0px;
    background-color: rgb(221, 221, 221);
    border-radius:30%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px ;
}


.border-red{
    border: 2px solid red;
}

.border-bule{
    border: 2px solid blue;
}

.border-green{
    border: 2px solid green;
}