section {
    margin: 0px;
}

.container-activity-report {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 0 auto;
}

/* container-css */
.container-css-50 {
    /* border: 2px solid red; */
    min-width: 315;
    width: 50%;
    box-sizing: border-box;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;


}

/* header-act-ls */
.header-act-ls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0px;
    /* margin-bottom: 20px; */
}

.header-act-ls p {
    margin: 0px;
}

/* act-user-profile */
.card-user-profile {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;

    border-radius: 20px;
    box-shadow: 0 0 25px -5px rgb(0 0 0 / 15%);
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
}

.create-act-button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.5em;
    ;
}



/* "act-lists  */
/* .act-container{
    d
} */
.activity-title {
    background-color: var(--primary-text-color);
    padding: 5px 10px;
    color: #fff;
    border-radius: 10px 10px 0 0;
}

.act-lists {
    display: flex;
    gap: 10px;
    flex-direction: column;
    max-height: 400px;
    /* padding: 20px 20px; */
    border-radius: 20px;
    box-shadow: 0 0 25px -5px rgb(0 0 0 / 15%);
    /* background-color: #fff; */
    background-clip: border-box;
    /* border: 1px solid rgba(0,0,0,.125); */

    overflow-y: scroll;
    overflow-x: hidden;
}



.border-red {
    border: 2px solid red;
}

.border-bule {
    border: 2px solid blue;
}

.border-green {
    border: 2px solid green;
}

.border-yellow {
    border: 2px solid yellow;
}